
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
	@using (Html.BeginForm("SaveEditKid", "Home", FormMethod.Post, new { id = "EditKidForm", enctype="multipart/form-data" }))
				{
				<div class=" form-inline rowModal" style="margin-top:10px; margin-left:10px; margin-right:10px">
					<label class="labelMy">ID-учащегося:</label>
					<input readonly id="UniqueIdEdit" name="unique_id_edit" class="form-control form-control-sm" style=" margin-left: 10px" placeholder="000000000" maxlength="9" title="Введите номер" />
					<input id="IdStud" name="id_edit" hidden>
				</div>
				<div class=" form-inline row" style="margin:10px ">
					<div style="">
						<label style="justify-content:normal;">Фамилия: </label>
						<input id="SNameEdit" name="kid_surname_edit" class="form-control form-control-sm"  placeholder="Фамилия" />
					</div>
					<div style="margin-left:10px">
						<label style="justify-content:normal;">Имя: </label>
						<input id="NameEdit" name="kid_name_edit" class="form-control form-control-sm" placeholder="Имя" />
					</div>
					<div style="margin-left: 10px;">
						<label style="justify-content:normal;" >Отчество: </label>
						<input id="TNameEdit" name="kid_patronymic_edit" class="form-control form-control-sm"  placeholder="Отчество" />
					</div>
				</div>
				<hr>
				<div class=" form-inline row" style="margin:10px ">
					<div style="">
						<label style="justify-content:normal;">Класс: </label>
						<input id="ClassEdit" name="kid_class_edit" maxlength="3" class="form-control form-control-sm" placeholder="Класс" />
					</div>
					<div style="margin-left:10px">
						<label style="justify-content:normal;">Почта: </label>
						<input id="EmailEdit" name="kid_email_edit" class="form-control form-control-sm" placeholder="Почта" />
					</div>
					<div style="margin-left: 10px;">
						<label style="justify-content:normal;" >Телефон: </label>
						<input id="TelephoneEdit" name="n_telephone_edit" class="form-control form-control-sm"  placeholder="Телефон" />
					</div>
				</div>
				 <hr>
			 		<div class=" form-inline rowModal" style="margin:10px">
			 			<div>
			 				<label style="justify-content:normal;">Дата рождения:</label>
							<div class=" form-inline rowModal">
			 					<input lang="ru" id="YearBirthdayEdit" name="year_birthday_edit" type="text" class="form-control form-control-sm ui-datepicker-calendar" placeholder="дд.мм.гггг" />
			 					<button type="button" id="buttonDateEdit" style="border-style: solid; border-width: thin; border-radius: 0 4px 4px 0; background-color: white; "><img style="width:20px" src="~/svgs/solid/calendar-alt.svg" /> </button>
			 				</div>
						</div>
						<div style="padding-inline: 12%;">
							<label style="justify-content:normal;">Срок окончания:</label>
							<div class=" form-inline rowModal">
			 					<input lang="ru" id="EndYearEdit" type="text"  name="end_training_edit" class="form-control form-control-sm ui-datepicker-calendar" placeholder="мм.гггг" />
			 					<button type="button" id="buttonDateEndEdit" style="border-style: solid; border-width: thin; border-radius: 0 4px 4px 0; background-color: white; "><img style="width:20px" src="~/svgs/solid/calendar-alt.svg" /> </button>
			 				</div>
						</div>
			 		</div>
				
				 <hr>
				 <div class=" form-inline row" style="margin:10px ">
					<div style="">
						<label style="justify-content:normal;">Статус Заявки: </label>
						<select class="select-zayavka" data-width="auto" data-style="btn-sm btn-outline-green" name="status_zayavka_id_edit" id="SelectZayavka">
							<option id="0" value="0">Заявка отсутствует</option>
							<option id="1" value="1">Заявка оформлена</option>
							<option id="2" value="2">Заявка оформлена в Интернет-банкинге</option>
							<option id="3" value="3">Заявка оформлена в Корп Сайте</option>
							<option id="4" value="4">Заявка оформлена в Мобильном банкинге</option>
							<option id="5" value="5">Заявка оформлена в Отделении Банка</option>
						</select>
					</div>
					<div style="margin-left:10px">
						<label style="justify-content:normal;">Статус учащегося: </label>
						<select class="select-stud-sts" data-width="auto" data-style="btn-sm btn-outline-green" name="stud_status_edit" id="SelectStudStatus">
							<option id="1" value="1">Записан</option>
							<option id="2" value="2">Действующий</option>
							<option id="3" value="3">Переведён</option>
							<option id="4" value="4">Исключён</option>
						</select>
					</div>
				</div>
				 <div style="margin-top: 10px; margin-left:10px" class="custom-control-inline row">
			 		<div>
						<label for="onlySetId">Наличие анкеты: </label>
						<input id="Stud_persData" name="pers_data_edit" onclick="CboxEdit()" type="checkbox" style=" transform: scale(1.5); opacity: 0.9; cursor: pointer;" />
					</div>
					<div style="margin-left:20px">
			 			<label for="onlySetId">Наличие макета: </label>
						<input id="Stud_template" name="card_template_edit" onclick="CboxEdit()" type="checkbox" style=" transform: scale(1.5); opacity: 0.9; cursor: pointer;" />
					</div>
				 </div>
				 <div id="PhotoEdit" style="margin-top: 10px; margin-left: 10px">
			 		<label for="onlySetId">Фото: </label>
			 		<label  for="photo" style="border-radius:50px; margin-bottom:0px" class="btn btn-outline-dark">Обновить фото</label>
					<input id="photo" name="Photo" hidden class="select-kid-photo form-control" accept=".jpg" type="file"/>
					<img id="blah" style="width: 112px; height: 149px;" src="#" alt="Выбранное изображение" />
				 </div>
				 <hr>
				 <div style="margin-left: 10px; margin-bottom: 10px;margin-right:10px">
			 		<label for="Sch_searchId" style="margin-bottom: 0px">&nbsp;Учереждение Образования</label>
			 		<select class="select-school-edit" data-width="50%" data-live-search="true" data-style="btn-sm btn-outline-green" name="school_id_edit" id="SchoolEdit">
						 @foreach (var item in ViewBag.Model2)
							{
								<option id="@item.id" value="@item.id">@item.school_name_short</option>
							}
					</select>
				 </div>
				 <div class="modal-footer">
			 		<button id="cancelForm" type="reset" style="border-radius:50px; background:#ffffff;color:black" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
			 		<button type="submit" id="editKidBtn" style="border-radius:50px; background:#ffffff;color:black" class="btn btn-outline-success">Сохранить</button>
				 </div>
				}
<script type="text/javascript">



	$('#YearBirthdayEdit').datepicker(
	{
		format: 'dd.mm.yyyy',
		/* orientation: "top right",*/
		language: 'ru',
		startDate: new Date(2000, 1 - 1, 1),
		endDate: 'y',
		startView: 2,
		defaultViewDate: {
		year: 2014
		},
		autoclose: true
		}
	);
		$('#buttonDateEdit').click(function () {
		$("#YearBirthdayEdit").focus();
	})

	$('#EndYearEdit').datepicker(
	{
		format: 'mm.yyyy',
		orientation: "top right",
		language: 'ru',
		endDate: '+11y',
		startView: 2,
		minViewMode: 1,
		maxViewMode: 2,
		autoclose: true,
		} 
	);
	$('#buttonDateEndEdit').click(function () {
		$("#EndYearEdit").focus();
	});
</script>