<div class="container col-5">
    <div class="ui-tabs">
        <div id="navigation" class="ui-item form-group">
            <ul id="tabsHead" class="nav nav-tabs ">


                <li class="nav-item">
                    <a class="nav-link active" href="#tab3" data-toggle="tab" id="keyTab">
                        <span class="color-a">Вход по ЭЦП</span>
                    </a>
                </li>

            </ul>
        </div>
        <br>
        <div id="tabsHead" class="tab-content">

            <div class="tab-pane active" id="tab3">
                <div class="">

                    <div class="form-group">
                        <label>ID ключа:</label>
                        <label id="keySn" class="text-danger"></label>
                    </div>
                    <div class="form-group">
                        <label class="" for="userKey_KeyPassword">Для входа по ключу с электронной цифровой подписью (ЭЦП), Вам необходимо установить программное обеспечение для криптозащиты информации или запустить его, если оно уже установлено, вставить ключ ЭЦП в USB порт и ввести пароль на ключ</label>
                        <input type="password" class="form-control" id="passwordInput" required="required" autocomplete="off" placeholder="Пароль на ключ" data-val="true" data-val-required="Поле обязательно для заполнения" name="userKey.KeyPassword">
                        <span id="signResult" class="text-danger field-validation-valid" data-valmsg-for="userKey.KeyPassword" data-valmsg-replace="true"></span>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-success feedback shadow float-right" id="btnKEY" onclick="signInfo()">Вход по ЭЦП</button>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
<script>

    document.getElementById('keyTab').onclick = function () {
        alert('keyTab');
        urlRequestKey = '@Url.Action("RequestKey")';
        urlResponseKey = '@Url.Action("ResponseKey")';
        dataLogKey = $('#dataLog');
        dataResultKey = $('#keySn');
        dataLogKey.append("<hr/>&#x41F;&#x43E;&#x43B;&#x443;&#x447;&#x430;&#x44E; &#x43A;&#x43B;&#x44E;&#x447;");
        dataInputKey = "";
        socketWebKey('/Login/RequestKey', '/Login/ResponseKey');
    }
     function signInfo(e) {
                        urlRequestKey = '@Url.Action("RequestSign")';
                        urlResponseKey = '@Url.Action("ResponseSign")';
                        dataLogKey = $('#dataLog');
                        urlLoginKey = '/';
                        //console.log(urlLoginKey);
                        dataResultKey = $('#signResult');
                        dataLogKey.append("<hr/>&#x41F;&#x43E;&#x43B;&#x443;&#x447;&#x430;&#x44E; &#x43A;&#x43B;&#x44E;&#x447;");
                        var password = $('#passwordInput');
                        var document = $('#textInput');
                        var keynumber = $('#keySn');
                        //console.log(password);
                        //console.log(document);
                      /*  console.log(keynumber);*/
                        dataInputKey = 'password=' + encodeURIComponent(password.val()) +  '&keynumber=' + encodeURIComponent(keynumber.text());
                        dataInputAnswerKey = '&keynumber=' + encodeURIComponent(keynumber.text());
                        socketWebKey();
                    }

</script>