/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */


/*
 * Global add-ons
 */
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
/*.navbar {
    border: 1px solid #ccc;
    padding: 0;
}

.nav-item {
    text-align: center;
    cursor: pointer;
    border-right: 1px solid #ccc;
    font-size: .9rem !important;
    width: 110px;
    height: 44px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

    .nav-item:hover {
        background-color: #ccc;
    }

.specilLI{
    padding-top: 12px;
}*/

nav {
    padding: 2px 0 2px 0 !important;
    line-height: 1em !important;
    font-size: 8pt;
    cursor: pointer;
    background-color: #D5D5D5;
}


#login_btn {
    margin-right: 10px !important;
    margin-left: 13px !important;
    background-color: white;
    
}
    #login_btn:hover {
        color: white;
        background-color: #17a2b8;
        border-color: #17a2b8;
    }

#logout_btn {
    margin-right: 10px !important;
    margin-left: 13px !important;
    background-color: white;
}

    #logout_btn:hover {
        color: white;
        background-color: #17a2b8;
        border-color: #17a2b8;
    }

/*
 * Sidebar
 */
/* Hide for mobile, show later */
/*.sidebar {
    display: none;
}*/
/*@media (min-width: 576px) {*/
.sidebar {
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    overflow: auto;
    font-size: 11pt;
}


/*
 * Main content
 */

.main-side {
    padding: 10px 30px 0 30px;
    overflow: auto;
    position: absolute;
}
/*.main .page-header {
    margin-top: 0;
}*/


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#container {
    padding-right: 0 !important;
    padding-left: 2px !important;
}