
@media print {
    .noprint {
        display: none !important;
    }
   
    .k-i-print::before {
        content: "\e10a";
    }
 /*   table.report {
        page-break-after: always
    }
        table.report tr {
            page-break-inside: avoid;
            page-break-after: avoid
        }

        table.report td {
            page-break-inside: avoid;
            page-break-after: auto
        }

        table.report thead {
            display: table-header-group
        }

        table.report tfoot {
            display: table-footer-group
        }*/
}