.arrow_box {
    z-index: 100000;
    display: none;
    position: fixed;
    background: white;
    border: 1px solid #38e2f5;
    padding: 10px;
    border-radius: 5%;
    width: 325px !important;
}
.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 90%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(15, 206, 213, 0);
    border-bottom-color: #5bc0de;
    border-width: 10px;
    margin-left: -10px;
}
.arrow_box:before {
    border-color: rgba(56, 226, 245, 0);
    border-bottom-color: #38e2f5;
    border-width: 14px;
    margin-left: -14px;
}